.FooterPage {
  background-color: #fff;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 4rem;
  column-gap: 5rem;
  display: flex;
  border-top: 1px solid var(--stroke-gray, #CDCDCD);
}
.Offers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Customer-Service {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Information {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Our-Story {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 25px;
}
.FooterPage {
  color: var(--body-text-color, #444);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 314.286% */
}
a {
  text-decoration: none;
  color: var(--body-text-color, #444);
}
.social-icons {
  margin-top: 4rem;
}
.social-icons img{
    padding: 0 .5rem;
    cursor: pointer;
}
.copyright {
  margin-top: 4rem;
  display: flex;
  align-items: end;
}
.email-number {
  color: var(--body-text-color, #444);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 220% */
}
.emailAddress {
  border: none;
}
.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0 2rem 0 1rem;
  border: 1px solid rgb(186, 186, 186);
}
.input-container input:focus-visible{
  outline: none;
}
.input-container img{
  cursor: pointer;
}
.divider{
    display: none;
}

/* Mobile Accordion */
.FooterPage .mobileAccordion{
  display: none;
}
/* mobile responsive */
@media screen and (max-width: 500px) {
    .FooterPage{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .copyright{
        display: none;
    }
    .divider{
        display: inline;
    }
    .FooterPage .mobileAccordion{
      display: inline;
      width: 100%;
    }
    .FooterPage .mobileAccordion .information-container .links{
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
    .FooterPage .mobileAccordion .information-container .ant-collapse>.ant-collapse-item{
      border: none;
    }

}
/* tablet responsiveness */
@media screen and (max-width: 800px) {
  .copyright{
    margin-top: 7rem;
  }
   .Information{
    display: none;
  }
  .Customer-Service{
    display: none;
  }
}