
.ProductCartTable .ant-pagination {
  display: none;
}
.ProductCartTable .ant-table-thead >tr>th {
  color: var(--Medium-Gray, #96a0af);

  /* Table Header Text */
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
