.softTshirtBox {
  width: 922px;
  height: 160px;
  background: var(--yellow, #ffeb7b);
}
.title-softTshirtBox {
  color: var(--black, #2a2a2a);

  /* H5 */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}
.discp-softTshirtBox {
  color: var(--body-text-color, #444);

  /* Body Normal */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 631px;
}
.btn-softTshirtBox {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  border: none;
}
.softTshirtBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}
