:root {
  --whiteText: #fff;
  --darkGreenText: #11505d;
  --stroke-gray: #cdcdcd;
  --body-text-color: #444;
}
.TshirtIMG {
  width: 100%;
}
.manTshirtBG {
  background-image: url(../../../assets/productListing/tshirtIMG.png);
  height: 368px;
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: end;
  background-repeat: no-repeat;
}
.MarginTop1rem {
  margin-top: 1rem;
}
.tshirt-content {
  width: 50%;
  row-gap: 2rem;
}

.tshirt-title {
  color: var(--whiteText);

  /* H2 */
  font-family: 'Barlow', 'sans-serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
}
.tshirt-subtitle {
  font-family: 'Barlow', 'sans-serif';
  color: var(--whiteText);
  width: 530px;
  /* H6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
}
.tshirt-description {
  color: var(--whiteText);

  /* Body Large */
  font-family: 'Barlow', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.tshirtBTN {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: var(--whiteText);
  border: none;
  color: var(--darkGreenText);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  cursor: pointer;
}
/* check product dropdown and text */
.check-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid var(--Stroke-Gray, #cdcdcd);
  margin-bottom: 2rem;
}
.checkProductText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Check-out-the-products {
  color: #102434;

  /* H6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
  padding-right: 2rem;
}
.PRODUCTS-250 {
  color: var(--gray, #7a8089);

  /* Overline */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.filter {
  display: none;
}
.checkProductText {
  color: var(--body-text-color);

  /* Placeholder Text */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.mobile-tshirtBTN {
  display: none;
}
.TshirtIMG .check-products .closeIcon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TshirtIMG .check-products .closeIcon p {
  color: #000;

  /* H5 */
  font-family: 'Barlow';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}
.check-products .closeIcon span {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
/* Check product mobile responsiveness */
@media screen and (max-width: 500px) {
  .Check-out-the-products {
    display: none;
  }
  .PRODUCTS-250 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray, #7a8089);

    /* Overline */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-right: 1px solid var(--stroke-gray);
    border-bottom: 1px solid var(--stroke-gray);
    background: var(--white, #fff);
    width: 120px;
    height: 40px;
    flex-shrink: 0;
  }
  .filter {
    color: var(--body-text-color, #444);

    /* Placeholder Text */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-right: 1px solid var(--stroke-gray);
    border-bottom: 1px solid var(--stroke-gray);
    background: var(--white, #fff);
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured {
    display: none;
  }
  .sortBy-text {
    color: var(--body-text-color);

    /* Placeholder Text */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--stroke-gray);
    background: var(--white, #fff);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .feature {
    display: none;
  }
  .arrow_drop_down {
    width: 6px;
    height: 3px;
    fill: var(--nav, #4e4e4e);
  }
  .colon {
    display: none;
  }
  .dividerNone {
    display: none;
  }
}

/* laptop responsiveness */
@media screen and (max-width: 1024px) {
  .manTshirtBG {
    height: 325px;
    background-size: auto 100%;
  }
  .tshirt-content {
    width: 60%;
    row-gap: 2rem;
  }
  /* .tshirt-subtitle{
    font-size: 14px;
  } */
}
/* Tablet responsiveness */
@media screen and (max-width: 800px) {
  /* .manTshirtBG {
    height: 325px;
    background-size: auto 100%; */

  .manTshirtBG {
    display: unset;
  }
  .tshirt-content {
    background: var(--light-pink, #fbdeeb);
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .tshirt-title {
    color: var(--black, #2a2a2a);

    /* H2 */
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    text-transform: capitalize;
  }
  .tshirt-subtitle {
    color: var(--body-text-color, #444);
    width: 100%;
    /* H6 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    text-transform: capitalize;
  }
  .tshirt-description {
    color: var(--body-text-color, #444);

    /* Body Large */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .mobile-tshirtBTN {
    border-radius: 24px;
    background: var(--dark-green, #11505d);
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--white, #fff);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    border: none;
    width: fit-content;
  }
  .tshirtBTN {
    display: none;
  }
}
/* mobile responsiveness */
@media screen and (max-width: 500px) {
  .manTshirtBG {
    display: unset;
  }
  .tshirt-content {
    background: var(--light-pink, #fbdeeb);
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .tshirt-title {
    color: var(--black, #2a2a2a);

    /* H2 */
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    text-transform: capitalize;
  }
  .tshirt-subtitle {
    color: var(--body-text-color);
    width: 100%;
    /* H6 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    text-transform: capitalize;
  }
  .tshirt-description {
    color: var(--body-text-color);

    /* Body Large */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .mobile-tshirtBTN {
    border-radius: 24px;
    background: var(--dark-green, #11505d);
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--white, #fff);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    border: none;
    width: fit-content;
  }
  .tshirtBTN {
    display: none;
  }
}
