.softTshirtBox {
  width: 100% !important;
  background: var(--yellow, #ffeb7b);
}
.title-softTshirtBox {
  color: var(--black, #2a2a2a);

  /* H5 */
  font-family: 'Barlow', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}
.discp-softTshirtBox {
  color: var(--body-text-color, #444);

  /* Body Normal */
  font-family: 'Barlow', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 100%;
  
}

.softTshirtBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}


.leftCollapse-parent{
  display: flex;
  column-gap: 1rem;
}
.TshirtsList{
  width: 80%;
}
/* Responsiveness */

/* Tablet Screen */
@media only screen and (max-width: 800px) {
  .softTshirtBox {
    width: 100%;
    display: flex;
    align-items: start;
  }
  .discp-softTshirtBox {
    width: 100%;
  }
  
}
