.DataPolicy .dataPolicyContainer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: var(--light-pink, #fbdeeb);
  margin-top: 2rem;
  padding: 4rem 3rem;
}
.DataPolicy .dataPolicyContainer h2 {
  color: #000;

  /* H2 */
  font-family: 'Barlow';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.DataPolicy .dataPolicyContainer p {
  color: var(--body-text-color, #444);

  /* Body Large */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.DataPolicy .DataPolicyQuestion {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 3rem;
  padding: 0 1rem;
  width: 100%;
}
.DataPolicy .DataPolicyQuestion h5 {
  color: var(--body-text-color, #444);

  /* H5 */
  font-family: 'Barlow';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
  margin-top: 1rem;
}
.DataPolicy .DataPolicyQuestion h2 {
  color: var(--body-text-color, #444);

  /* H2 */
  font-family: 'Barlow';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
  margin-top: 1rem;
}
.DataPolicy .DataPolicyQuestion ul {
  list-style-image: url('../../assets//greenEllipse.png');
}
.DataPolicy .DataPolicyQuestion ul li {
  color: var(--body-text-color, #444);

  /* Body Normal */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 150% */
}
.DataPolicy .DataPolicyQuestion p {
  color: var(--body-text-color, #444);

  /* Body Normal */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-top: 0.5rem;
  width: 100%;
}
.DataPolicy .DataPolicyQuestion p span:nth-child(1) {
  color: #444;
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.DataPolicy .DataPolicyQuestion p span:nth-child(2) {
  color: var(--dark-green, #11505d);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-transform: capitalize;
}
.DataPolicy .DataPolicyQuestion p a {
  word-wrap: break-word;
}
.DataPolicy .DataPolicyQuestion .FAQaccordion {
  width: 100%;
}
