.heroSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.titleTreanding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  color: #000;

  /* H2 */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
}

.trend-sec-container {
  display: block;
}

.trending-carousel {
  display: none;
}
.recoIMG {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  display: none;
}

@media (max-width: 500px) {
  .trend-sec-container {
    display: none;
  }
}
@media (max-width: 800px) {
  .trend-sec-container {
    padding: 0 1rem;
  }
  .trending-carousel {
    display: block;
  }
  .trend-sec-container {
    display: none;
  }
  .imageContainer{
    width: 50%;
  }
}
