.myOrders {
  margin-bottom: 10rem;
}
.tabsMain {
  margin-top: 3rem !important;
}

.tabsMain .tabsData {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 1rem;

  color: var(--medium-gray, #96a0af);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}


.tabsMain .tabsData p:nth-child(1) {
  color: var(--medium-gray, #96a0af);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.tabsMain .tabsData p:nth-child(2) {
  color: var(--stroke-gray, #cdcdcd);

  /* Table Header Text */
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

.tabsMain .ant-tabs-tab:hover {
  color: var(--black, #2a2a2a);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.tabsMain .myAccountTab {
  padding: 0 3rem;
}
.tabsMain .myAccountTab h6 {
  color: var(--black, #2a2a2a);

  /* H6 */
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.tabsMain .myAccountTab .profileDetails {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.tabsMain .myAccountTab .profileDetails .profileDetail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tabsMain .myAccountTab .profileDetails .profileIMGdetaisl {
  display: flex;
  align-self: center;
  column-gap: 2rem;
}

.tabsMain .myAccountTab .profileDetails .profileTitle {
  color: var(--black, #2a2a2a);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.tabsMain .myAccountTab .profileDetails .customerNo {
  color: var(--form-placeholder-text, #89909a);

  /* Table Cell Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.tabsMain .myAccountTab .profileDetails .profileIMGdetaisl .profileBTNs {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.tabsMain .myAccountTab .profileDetails .profileIMGdetaisl .changeImageProfile {
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  border: none;
  cursor: pointer;
}
.tabsMain .myAccountTab .profileDetails .profileIMGdetaisl .removeImageProfile {
  color: var(--red, #ff1d1d);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.tabsMain .myAccountTab .profileDetails button {
  color: var(--dark-green, #11505d);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  border: none;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
/* .myAccountTab form .topSection {
  display: flex;
  flex-direction: column;
} */
.myAccountTab p {
  color: var(--body-text-color, #444);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
.myAccountTab form {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}
.myAccountTab form .topSection {
  width: 100%;
}
.myAccountTab form .bottomSection {
  width: 100%;
}
.myAccountTab form .topSection label span {
  color: var(--red, #ff1d1d);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.myAccountTab form .topSection input {
  display: flex;
  padding: 20px 24px;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--stroke-gray, #cdcdcd);
  margin-top: 0.5rem;
}
.myAccountTab form .topSection input:focus-visible {
  outline: none;
}
.myAccountTab form .topSection input::placeholder {
  color: var(--body-text-color, #444);

  /* Placeholder Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  width: 371px;
}
.myAccountTab form .bottomSection label span {
  color: var(--red, #ff1d1d);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.myAccountTab form .bottomSection input {
  display: flex;
  width: 100%;
  padding: 20px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--stroke-gray, #cdcdcd);
  margin-top: 0.5rem;
}
.myAccountTab form .bottomSection input:focus-visible {
  outline: none;
}
.myAccountTab form .bottomSection input::placeholder {
  color: var(--body-text-color, #444);

  /* Placeholder Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  width: 371px;
}
.myAccountTab .profileButton {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem;
}
.myAccountTab .profileButton button:nth-child(1) {
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  border: none;
  cursor: pointer;
}
.myAccountTab .profileButton button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  color: var(--dark-green, #11505d);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* MOBILE responsiveness */
@media screen and (max-width: 500px) {
  .myAccountTab form {
    display: flex;
    flex-direction: column;
  }
}
.tabsMain .historyTAB {
  padding: 0 3rem;
}
.tabsMain .historyTAB .topTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabsMain .historyTAB .topTab .inputIcon {
  display: flex;
  column-gap: 1rem;
}
.tabsMain .historyTAB .topTab h6 {
  color: var(--black, #2a2a2a);

  /* H6 */
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
}
.tabsMain .historyTAB .topTab input {
  display: flex;
  padding: 9px 16px;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--stroke-gray, #cdcdcd);
}
.tabsMain .historyTAB .topTab input:focus-visible {
  outline: none;
}
/* .tabsMain .historyTAB .topTab input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../assets/myOrderIMG/search-icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  } */
.tabsMain .historyTAB .profileSection {
  background: var(--blue-gray, #f0f7f9);
  display: flex;
  width: 100% !important;
  margin-top: 2rem !important;
  padding: 24px;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.tabsMain .historyTAB .profileSection .profileSectionText {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.tabsMain .historyTAB .profileSection .profileSectionText p:nth-child(1) {
  color: var(--black, #2a2a2a);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.tabsMain .historyTAB .profileSection .profileSectionText p:nth-child(2) {
  color: var(--body-text-color, #444);

  /* Table Cell Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.tabsMain .historyTAB .profileSection .profileSectionText p span {
  color: var(--dark-green, #11505d);

  /* Table Cell Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.tabsMain .historyTAB .profileSection .profileSectionText p {
  color: var(--body-text-color, #444);

  /* Table Cell Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

/* Address Book */
.addressBookTab {
  padding: 0 3rem;
}
.addressBookTab .titleandBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addressBookTab .titleandBtn h6 {
  color: var(--black, #2a2a2a);

  /* H6 */
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
}
.addressBookTab .titleandBtn button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  border: none;
  cursor: pointer;
}
.addressBookTab .addressBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 3rem;
}
.addressBookTab .addressBoxes .addressBoxBorder {
  border: 1px solid var(--light-gray, #eaeaea);
  background: #fff;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  color: var(--body-text-color, #444);

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  cursor: pointer;
}
.addressBookTab .addressBoxes .addressBoxBorder .addressBoxTitelIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.addressBookTab .addressBoxes .addressBoxBorder .addressBoxTitelIcon p {
  color: var(--black, #2a2a2a);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}

/* LAPTOP responsiveness */
@media screen and (max-width: 500px) {
  .tabsMain .myAccountTab .profileDetails .profileIMGdetaisl {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .myAccountTab .profileButton {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .addressBookTab .titleandBtn {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .addressBookTab .addressBoxes {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .tabsMain .historyTAB .profileSection {
    flex-wrap: wrap;
  }
  .tabsMain .historyTAB .topTab {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
  }
}

/* LAPTOP responsiveness */
@media screen and (max-width: 800px) {
  .addressBookTab .titleandBtn {
    margin-top: 2rem;
  }
}

/* LAPTOP responsiveness */
@media screen and (max-width: 1024px) {
  .tabsMain .ant-tabs-nav .ant-tabs-tab {
    padding: 5px 10px;
  }
  .MyOrdersCompo {
    padding: 1rem;
  }
  .tabsMain .historyTAB {
    padding: 0 1rem;
  }
}
