.productContainer {
  width: 100%;
  display: flex;
  align-items: start;
  margin: 2rem 1rem;
  column-gap: 1rem;
}
.productContainer .productIMG {
  width: 50%;
  background: #f0f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 730px;
}
.productContainer .productIMG img {
  width: 75%;
}
.productContainer .productDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}
.productContainer .productDetails .quantitySelect ul > li {
  color: var(--Black, #2a2a2a);
  font-family: 'Barlow';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.productContainer .productDetails .quantitySelect .sizeBTN {
  display: flex;
  column-gap: 1rem;
  margin-left: 3rem;
  cursor: pointer;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.productContainer .productDetails .quantitySelect .sizeBTN p:hover {
  color: #32cd32;
  border: 1px solid var(--Stroke-Gray, #32cd32);
}
.productContainer .productDetails .quantitySelect .sizeBTN p {
  border-radius: 4px;
  border: 1px solid var(--Stroke-Gray, #cdcdcd);
  background: var(--White, #fff);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 5px;
  width: max-content;
  color: var(--Body-Text-Color, #444);
  text-align: center;

  /* Filter Options */
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.productContainer .productDetails .tagsIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productContainer .productDetails .tagsIcons .productDetails-tags {
  display: flex;
  column-gap: 1rem;
}
.productContainer .productDetails .tagsIcons .productDetails-tags .toptags {
  width: max-content;
}
.productContainer .productDetails .productDetails-text .productDetails-brands {
  color: var(--dark-green, #11505d);

  /* Overline */
  font-family: 'Barlow';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.productContainer .productDetails .productDetails-text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.productContainer .productDetails .productDetails-text h5 {
  color: var(--black, #2a2a2a);

  /* H5 */
  font-family: 'Barlow';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}
.productContainer .productDetails .productDetails-text .productDetails-article {
  color: var(--gray, #7a8089);

  /* Product Price Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.productContainer .productDetails .productDetails-text .productDetails-price span {
  color: var(--body-text-color, #444);

  /* Product Details Price */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
}
.productContainer .productDetails .productDetails-text .productDetails-price {
  color: var(--body-text-color, #444);
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/* ? Global Ant design Drawer Size */
/* .ant-drawer .ant-drawer-content-wrapper{
  width: 60% !important;
} */
.productContainer .productDetails .productDetails-drawer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  row-gap: 0.5rem;
}
.productContainer .productDetails .productDetails-drawer .shippingInfoBox p {
  color: var(--Body-Text-Color, #444);

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.productContainer .productDetails .productDetails-drawer .shippingInfoBox p > img {
  margin: 3px 6px;
}
.productContainer .productDetails .productDetails-drawer .shippingInfoBox p span {
  color: var(--Black, #2a2a2a);

  /* Placeholder Text */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.productContainer .productDetails .productDetails-drawer .productDetails-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 2rem;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
  padding: 1rem 0;
}
.productContainer .productDetails .productDetails-drawer .serialNum {
  color: var(--form-placeholder-text, #89909a);
  text-align: center;

  /* Overline */
  font-family: 'Barlow';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: uppercase;

  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid var(--form-placeholder-text, #89909a);
  text-align: center;
  margin-right: 1rem;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-text
  .productDetails-heading {
  display: flex;
  align-items: center;
  justify-content: start;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-text
  .productDetails-heading
  .greenMark {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-text
  .productDetails-heading
  .selectedColor {
  color: var(--Body-Text-Color, #444);

  /* Filter Options */
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  border-radius: 4px;
  border: 1px solid var(--Light-Blue, #d1eaf0);
  background: var(--Blue-Gray, #f0f7f9);
  display: flex;
  padding: 4px 12px;
  align-items: center;
  gap: 5px;
  width: max-content;
}
.productContainer .productDetails .productDetails-drawer .productDetails-heading1 {
  color: var(--black, #2a2a2a);

  /* Body Large */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productContainer .productDetails .productDetails-drawer .productDetails-subheading {
  color: var(--body-text-color, #444);

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.productContainer .productDetails .productDetails-drawer .productDetails-drawer-price {
  color: var(--body-text-color, #444);

  /* H6 */
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-drawer-price
  .priceTotal
  p:nth-child(1) {
  color: var(--body-text-color, #444);

  /* H6 */
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-drawer-price
  .priceTotal
  p:nth-child(2) {
  color: var(--dark-green, #11505d);
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-drawer-price
  .priceAmount
  p:nth-child(1) {
  color: var(--body-text-color, #444);
  text-align: right;

  /* H4 */
  font-family: 'Barlow';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  text-transform: capitalize;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetails-drawer-price
  .priceAmount
  p:nth-child(2) {
  color: var(--body-text-color, #444);

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.productContainer .productDetails .productDetails-drawer .productDetailsBTNs {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.productContainer .productDetails .productDetails-drawer .productDetailsBTNs button:nth-child(1) {
  border-radius: 24px;
  border: 2px solid var(--dark-green, #11505d);
  background: var(--white, #fff);
  color: var(--dark-green, #11505d);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  display: flex;
  width: 252px;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetailsBTNs
  button:nth-child(1):hover {
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
}
.productContainer .productDetails .productDetails-drawer .productDetailsBTNs button:nth-child(2) {
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  display: flex;
  width: 252px;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  cursor: pointer;
}
.productContainer
  .productDetails
  .productDetails-drawer
  .productDetailsBTNs
  button:nth-child(2):hover {
  border: 2px solid var(--dark-green, #11505d);
  background: var(--white, #fff);
  color: var(--dark-green, #11505d);
}
.color-drawer .ant-drawer-wrapper-body {
  position: relative !important;
}
.color-drawer .ColorDrawerData {
  -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent) !important;
}
.color-drawer .drawerBTN {
  position: absolute;
  z-index: 1;
  bottom: 35px;
}

/* IMG slider */
.imageSlider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  width: 50%;
  height: 120.452px;
  cursor: pointer;
}

.imageSlider:nth-child(6) {
  background: lightgray 50% / cover no-repeat;
  mix-blend-mode: multiply;
}

/* description */
.description {
  width: 100%;
  margin-top: 2rem;
}
.description p:nth-child(1) {
  color: var(--black, #2a2a2a);

  /* Body Large */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.description p:nth-child(2) {
  color: var(--body-text-color, #444);

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* productDetail-table */
.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.custom-tabs .ant-tabs-ink-bar{
  background: #F6BACB;
}

.productDetail-table .ant-tabs-tab-btn {
  color: var(--Gray, #7a8089);

  /* Menu Links */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-transform: capitalize;
}
.productDetail-table {
  margin-top: 2rem;
  overflow: auto;
}
.productDetail-table .ant-table-pagination-right {
  display: none;
}
.tableDiscp p {
  color: var(--gray, #7a8089);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  padding: 1rem 0;
}
.tableDiscp > p > span {
  color: var(--body-text-color, #444);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* categoryBrowse */
.categoryBrowse {
  background: var(--light-green, #d6eade);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.categoryBrowse h2 {
  color: #000;

  /* H2 */
  font-family: 'Barlow';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.categoryBrowse .categoryBrowse-main {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.categoryBrowse .categoryBrowse-main .categoryBrowseIMG {
  position: relative;
  cursor: pointer;
}
.CategoryBrowseCarousel-mobile {
  display: none;
}
.reacentlyViewed h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;

  /* H2 */
  font-family: 'Barlow';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
  margin-top: 10rem;
}
.recentlyViewedSection {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

/* Drawers Style */
/* .color-drawer {
  width: 50% !important;
  height: 1024px;
} */
.ColorDrawer {
  display: flex;
  align-items: start;
  justify-content: start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.656);
  padding: 1.5rem;
  cursor: pointer;
}
/* Color Drawer */
.color-drawer .ant-drawer-header {
  display: none;
}
/* .color-drawer .ant-drawer-body{
  -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent ) !important;
} */
.ColorDrawer-closeBTN {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #000;

  /* H2 */
  font-family: 'Barlow';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
}
.drawerBTN {
  border: none;
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 7rem;
}

/* Print Drawer */
/* .print-drawer {
  width: 50% !important;
  height: 1024px;
} */

.printDrawer-data p {
  color: var(--black, #2a2a2a);

  /* Body Large */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  border-bottom: 1px solid gray !important;
  cursor: pointer;
  padding: 2rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-drawer .ant-drawer-header {
  display: none;
}
.deliveryDrawer-data p {
  color: var(--black, #2a2a2a);

  /* Body Large */
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  border-bottom: 1px solid gray !important;
  cursor: pointer;
  padding: 2rem !important;
  display: flex;
  flex-direction: column;
}
.deliveryDrawer-data span {
  color: var(--body-text-color, #444);

  /* Body Normal */
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Contact us drawer */
.contactus-main .contactus-data form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contactus-main .contactus-data form label {
  color: var(--body-text-color, #444);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
.contactus-main .contactus-data form label span {
  color: var(--red, #ff1d1d);
  font-family: 'Barlow';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.contactus-main .contactus-data form input {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--stroke-gray, #cdcdcd);
}
.contactus-main .contactus-data form input:focus-visible {
  outline: none;
}
.contactus-main .contactus-data form input::placeholder {
  text-align: left;
}
.contactus-main .contactus-data form textarea {
  width: 100%;
  height: 150px;
  padding: 10px 30px;
  border-radius: 6px;
  border: 1px solid var(--stroke-gray, #cdcdcd);
}
.contactus-main .contactus-data form textarea:focus-visible {
  outline: none;
}
.contactus-main .contactus-data form textarea::placeholder {
  text-align: left;
}

/* LAPTOP responsiveness */
@media screen and (max-width: 1024px) {
  .CategoryBrowseCarousel-mobile {
    display: inline;
  }
  .categoryBrowse {
    display: none;
  }
  .imageSlider {
    margin: 0 5rem;
  }
  .productContainer .productIMG img {
    width: 100%;
  }
}
/* TABLET responsiveness */
@media screen and (max-width: 800px) {
  .productContainer
    .productDetails
    .productDetails-drawer
    .productDetails-text
    .productDetails-heading
    .selectedColor {
    margin: 0.5rem;
  }
  .productContainer .productIMG {
    width: 45%;
  }
  .productContainer .productIMG img {
    width: 100%;
  }
  .imageSlider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .CategoryBrowseCarousel-mobile {
    display: inline;
  }
  .categoryBrowse {
    display: none;
  }
  .productContainer .productDetails .productDetails-drawer .productDetails-text {
    row-gap: 1rem;
    padding: 0;
  }
  .productContainer .productDetails .productDetails-drawer .productDetailsBTNs button:nth-child(2) {
    width: 270px;
  }
}
/* MOBILE responsiveness */
@media screen and (max-width: 500px) {
  .productContainer
    .productDetails
    .productDetails-drawer
    .productDetails-text
    .productDetails-heading
    .selectedColor {
    margin: 0.5rem;
  }
  .productContainer {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
    column-gap: 1rem;
  }
  .productContainer .productIMG {
    width: 100%;
    height: 500px;
  }
  .productContainer .productDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2rem;
  }
  .imageSlider {
    display: none;
  }
  .CategoryBrowseCarousel-mobile {
    display: inline;
  }
  .categoryBrowse {
    display: none;
  }
  .reacentlyViewed h2 {
    font-size: 30px;
  }
}
