.ThankYou {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  row-gap: 3rem;
}
.ThankYou img {
  max-width: 100%;
  height: auto;
}
.ThankYou h5 {
  color: var(--black, #2a2a2a);
  text-align: center;

  /* H5 */
  font-family: 'Barlow';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}
.ThankYou p {
  color: var(--body-text-color, #444);
  text-align: center;

  /* Body Small */
  font-family: 'Barlow';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<responsiveness<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 1440px) {
  .ThankYou {
    height: 120vh;
  }
}
@media screen and (max-width: 1024px) {
  .ThankYou {
    height: 120vh;
  }
}
