body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;
}

.swal-text {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  margin: 0;
}
.empty {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.m-20 {
  margin: 20px 0;
}
.cursor {
  cursor: pointer;
}
.greenBTN{
  display: flex;
  width: max-content;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  border: 2px solid var(--dark-green, #11505d);
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  cursor: pointer;
}
.whiteBTN{
  display: flex;
  width: max-content;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  border: 2px solid var(--dark-green, #11505d);
  background: var(--white, #fff);
  color: var(--dark-green, #11505d);
  font-family: 'Barlow';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  cursor: pointer;
}