/* Third Party CSS */

/* Theme CSS */
@import './_general.css';
@import './_antd.css';

/* Layout CSS */
@import './layout/verticalLayout.css';
@import './layout/MainMenu.css';
@import './layout/layout.css';
@import './layout/mobileLayout.css';

/* Component CSS */
@import './components/table.css';
@import './components/Modal/SoftTshirtBox.css';
@import './components/Drawer/SearchDrawer.css';
@import './components/SearchDrawerCompo.css';
@import './components/Drawer/SearchNone.css';
@import './components/Carousel/ModelsCarousel.css';
@import './components/Drawer/PrintWearDrawer.css';
@import './components/RecentlyViewedCompo.css';
@import './components/Drawer/ColorDrawerPD.css';
@import './components/MyOrdersCompo.css';
@import './components/Drawer/AddressDrawer.css';
@import './components/Drawer/CartEmptyDrawer.css';
@import './components/Drawer/CartFullDrawer1.css';
@import './components/Modal/CartDeleteModal.css';
@import './components/Table/ProductCartTable.css';
@import './components/Drawer/FavoritesDrawer.css';
@import './components/FavoriteProductsCompo.css';


/* Page CSS */
@import './pages/login.css';
@import './pages/ProductCategoryDetails.css';
@import './pages//ProductDetails.css';
@import './pages/MyOrders.css';
@import './pages/ProductCartDetails.css';
@import './pages/PrintInformation.css';
@import './pages/Quotation.css';
@import './pages/OrderSuccessfull.css';
@import './pages/ThankYou.css';
@import './pages/ManufacturesDetails.css';

/* Fonts */
@font-face {
  font-family: 'Barlow';
  src: url('../assets/Barlow/Barlow-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
