.TradeSrction {
  background: var(--light-blue, #d1eaf0);
  padding: 2rem;
  margin: 2rem 0;
}
.title-btn-TradeSrction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-TradeSrction {
  color: #000;

  /* H2 */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
}
.subtitle-TradeSrction {
  color: #000;
  /* text-align: center; */

  /* Body Small */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.btn-TradeSrction {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: var(--dark-green, #11505d);
  color: var(--white, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  border: none;
}
.icons-TradeSrction {
  margin-top: 5rem;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  column-gap: 1rem;
}
.bg-white-box {
  border-radius: 20px 20px 0px 20px;
  background: var(--white, #fff);
  padding: 1.5rem;
  width: 100px;
}
.title-cart {
  color: var(--dark-green, #11505d);

  /* Overline */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  /* margin-top: 3rem; */
}
.subtitle-cart {
  color: #000;

  /* Body Large */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  /* margin-top: .5rem; */
}
.iconDiv {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}
/* mobile responsive */
@media screen and (max-width: 500px) {
  .TradeSrction {
    padding: 1rem 0;
  }
  .title-TradeSrction {
    margin-bottom: 1rem;
  }
  .subtitle-TradeSrction {
    margin-bottom: 2rem;
  }
  .title-btn-TradeSrction {
    display: flex;
    flex-direction: column;
  }
  .icons-TradeSrction {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .arrow-big {
    transform: rotate(70deg);
  }
  .iconDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
  }
}
/* laptop responsive */
@media screen and (max-width: 1024px) {
  .TradeSrction {
    padding: 2rem 0;
    margin: 2rem 0;
  }
  .title-btn-TradeSrction{
    padding: 2rem;
  }
  .icons-TradeSrction{
    padding: 3rem;
    margin-top: 0;
  }
  .subtitle-cart {
    font-size: 16px;
  }
}
/* tablet responsive */
@media screen and (max-width: 800px) {
  .TradeSrction {
    margin-top: 1rem;
  }
  .heading-TradeSection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .icons-TradeSrction {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }
  .iconDiv {
    align-items: center;
  }
  .arrow-big {
    transform: rotate(90deg);
  }
  .subtitle-cart {
    font-size: 20px;
  }
  .title-btn-TradeSrction {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
